<%- include('../../shared/includes/head', { pageTitle: 'Your Cart' }) %>
    <link rel="stylesheet" href="/styles/cart.css">
    <script src="/scripts/cart-item-management.js" defer></script>
  </head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All Your Orders</h1>
    </main>
<%- include('../../shared/includes/footer'); %>