<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was cancelled!</h1>
    <p>Please contact us if you need any help.</p>
  </main>
<%- include('../../shared/includes/footer') %>