<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order successfully!</h1>
    <p>You can visit <a href="/orders">the orders page</a>for more details!</p>
  </main>
<%- include('../../shared/includes/footer') %>