* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "sans-serif";
  background-color: var(--color-background);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
  text-align: center;
  color: var(--color-primary-title);
}

body {
  margin-bottom: 10rem;
}

@media (min-width: 768px) {

}

:root {
  --color-gray-50: rgb(243, 236, 230);
  --color-gray-100: rgb(207, 201, 195);
  --color-gray-200: rgb(146, 144, 140);
  --color-gray-300: rgb(99, 92, 86);
  --color-gray-400: rgb(70, 65, 60);
  --color-gray-500: rgb(37, 34, 31);
  --color-gray-600: rgb(32, 29, 26);
  --color-gray-700: rgb(31, 26, 22);

  --color-primary-50: rgb(255, 249, 249);
  --color-primary-100: rgb(249, 253, 183);
  --color-primary-200: rgb(250, 253, 183);
  --color-primary-400: rgb(223, 253, 183);
  --color-primary-500: rgb(212, 253, 183);
  --color-primary-700: rgb(157, 218, 113);
  --color-primary-800: rgb(78, 142, 35);
  --color-primary-900: rgb(50, 101, 16);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;

  --color-primary-btn: rgb(212, 253, 183);
  --color-primary-btn-hover: rgb(194, 234, 166);

  --color-primary-text-hover: rgb(83, 135, 48);

  /* --color-background: rgb(251, 247, 222); */
  --color-background: rgb(255, 252, 235);

  --color-error-100: rgb(255, 192, 180);
  --color-error-300: rgb(231, 154, 139);
  --color-error-500: rgb(199, 51, 15);

  --color-primary-500-bg: rgb(63, 60, 58);

  --color-primary-title: rgb(81, 139, 83);

  --color-product-details: rgb(255, 255, 255);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}