h1 {
    text-align: center;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input-form {
    width: 70%;
    max-width: 40rem;
    margin: 0 auto 10rem auto;
    border: 1px solid var(--color-gray-100);
    padding: 2rem 0;
}

form hr {
    width: 90%;
    margin: 1.5rem auto;
    border: 0.3px solid var(--color-gray-100);
}

form .form-insights {
    text-align: center;
    color: var(--color-gray-500);
    margin-bottom: 2rem;
}

form input {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--color-gray-100);
    border-radius: 0;
    font-family: inherit;
    padding: 0.25rem 1rem;
}

form input:active,
form input:focus {
    outline: none;
}

form input::placeholder {
    color: var(--color-gray-300);
}

form label.terms {
    width: 90%;
    margin: 1.25rem auto 0.5rem auto;
    display: block;
}

form input[type="checkbox"] {
    margin: 0;
    width: 1rem;
    height: 1rem;
    accent-color: var(--color-primary-500);
    outline: 0px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

form input[type="checkbox"]:checked {
    outline: 1.5px solid var(--color-primary-700);
    border-radius: 2rem !important;
}

form label p {
    display: inline;
    vertical-align: middle;
}

form .btn {
    cursor: pointer;
    font-family: inherit;
    font-size: 0.95rem;
    height: 40px;
    width: 90%;
    display: block;
    margin: 0 auto;
    color: var(--color-gray-700);
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-700);
    border-radius: 0.25rem;
}

form .btn:hover {
    background-color: var(--color-primary-700);
}

form #switch-form {
    text-align: center;
}

form #switch-form a{
    color: var(--color-gray-300);
    text-decoration: none;
    font-size: 0.9rem;
}