<%- include('includes/head', {pageTitle: '401'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>You're not authenticated!</h1>
        <p>Please log in before operating any actions.</p>
        <p><a class="btn" href="/login" >Login</a></p>
    </main>
<%- include('includes/footer'); %>