<%- include('../../shared/includes/head', { pageTitle: 'Manage Products' }) %>
<link rel="stylesheet" href="/styles/product-form.css">
<link rel="stylesheet" href="/styles/navigation.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/product.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Add new Product</h1>
        <%- include('../includes/product-form', {
            submitPath: '/admin/new-product',
            product: {
                name: '',
                summary: '',
                price: '',
                description: ''
            },
            imageRequired: true
        }) %>
    </main>
<%- include('../../shared/includes/footer'); %>