<%- include('../../shared/includes/head', { pageTitle: 'Update Product' }) %>
<link rel="stylesheet" href="/styles/product-form.css">
<link rel="stylesheet" href="/styles/navigation.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/product.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Manage This Product</h1>
        <%- include('../includes/product-form', {
            submitPath: '/admin/products/' + product._id.toString(),
            product: product,
            imageRequired: false
        }) %>
    </main>
<%- include('../../shared/includes/footer'); %>