<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <script src="scripts/responsive.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        Unfortunately, we weren't able to find this page.
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
