<%- include('../shared/includes/head', { pageTitle: 'Wegan Home' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../shared/includes/header') %>
    <main>
        <h1>We value everything except meat</h1>
    </main>

<%- include('../shared/includes/footer'); %>