body {
    background-color: #EDF9FD;
    font-family: sans-serif;
}

.form-wrapper {
    /* width: 75%; */
    width: 50rem;
    background-color: #E8F4FF;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 12px 24px;
}

h1 {
    text-align: center;
}

.form-wrapper form section{
    display: flex;
    flex-direction: column;
}

.form-wrapper input,
.form-wrapper textarea,
.form-wrapper select {
    padding: 0.4rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0.5rem 0;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus,
.form-wrapper select:focus{
    background-color: rgb(217, 227, 247);
    border-color: #edf9fd;
}

.form-wrapper textarea {
    resize: vertical;
}

.btn-group {
    display: flex;
    justify-content: end;
}

.btn-group .btn {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color:rgb(223, 224, 227);
    padding: 6px 18px;
    margin-left: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.btn-group .btn-normal:hover {
    background-color:rgb(188, 190, 196);
}

.btn-group .btn-cfa {
    background-color: rgb(166, 196, 255);
}
.btn-group .btn-cfa:hover {
    background-color: rgb(152, 186, 254);
}