body {
  text-align: center;
}

img {
    width: 600px;
    height: 100px;
}

h1 {
  font-size: 70px;
}

p {
  font-family: fantasy;
  color: rgb(52, 189, 141);
}

#para-1 {
    font-family: 'Macondo';
    font-weight: bold;
    font-size: 25px;
}