body {
  background-color: rgb(247, 227, 204);
  margin: 50px;
  text-align: center;
}

h1 {
  color: rgb(36, 113, 87);
}

p {
  color: rgb(52, 189, 141);
}

a {
  background-color:rgb(117, 198, 171);
  color: red;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: grab;
  text-decoration: overline underline dotted blueviolet;
}

#para-1 {
  font-family: 'Macondo';
  font-weight: bold;
  font-size: 25px;
}

